.card {
    width: 500px;
    max-width: 100%;
  }
  .w-57{
    width: 57%;
  }
  .contact {
    padding-top: 18vh;
    width: 90%;
    margin: auto;
    // background-image: url(../Image/conback.png);
}
@media screen and (max-width:768px){

  .flco {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.w-57 {
  width: 90%;
}
.locati {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 4vw;
}
.contact {
  padding-top: 19vh;
  width: 90%;
  margin: auto;
}
.svgcon {
  width: 31%;
  margin-bottom: 1.5vw;
}
.conat {
  font-size: 1.9vw;
}
.contact.title {
  width: 90%;
  margin: auto;
}
}

@media screen and (max-width:500px){


.contact {
  padding-top: 13vh;

}
.flco{
  margin-top: 27px;
}
.labcon {
  line-height: 29px;
  font-size: 13px;
  margin-top: 4px;
  
}
.incon {
  font-size: 15px;
}
.ioi {
  background: linear-gradient(88.21deg, #375958 -25.83%, #172120 96.08%);
  border-radius: 8px;
  font-size: 14px;
  line-height: 13px;
  padding: 10px 15px;
  margin-right: 0;
  font-weight: 700;
  white-space: nowrap;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  margin-top: 12px;
}
.conat {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}
.svgcon {
  width: 41%;
  margin-bottom: 1.5vw;
}
.locati{
  align-items: flex-start;
}
.title {
  // width: 88%;
  // margin: auto;
}
.card-body {
  flex: 1 1 auto;
  padding: 3px;
}
}