<!-- <!DOCTYPE html>

<head>

    <title></title>
</head>
<body>
    <div class="mapper">
        hihihi
        <img src="/Component/Image/melia/1st-A.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="resption" title="resption" href="" coords="2990,2383,3914,728" shape="rect">
    <area target="" alt="bed2" title="bed2" href="" coords="2032,2692,2924,1520" shape="rect">
    <area target="" alt="bed1" title="bed1" href="" coords="1976,1515,1091,2690" shape="rect">
    <area target="" alt="mbed" title="mbed" href="" coords="107,2683,1021,1137,681,1142,716,1502,107,1506,100,1149,236,1257,300,1348,303,1278,401,1278,475,1373,328,1443,289,1404,261,1359,265,1306,251,1415,240,1313,422,1219,475,1303,552,1266,618,1179,657,1245,622,1305" shape="rect">
    <area target="" alt="g toi" title="g toi" href="" coords="2913,723,2531,1070" shape="rect">
    <area target="" alt="ketchin" title="ketchin" href="" coords="2472,100,1967,1070" shape="rect">
    <area target="" alt="m room" title="m room" href="" coords="1897,345,1473,846" shape="rect">
    <area target="" alt="s lun" title="s lun" href="" coords="1908,890,1081,1131" shape="rect">
    <area target="" alt="m bath" title="m bath" href="" coords="1424,348,1116,856" shape="rect">
    <area target="" alt="bath1" title="bath1" href="" coords="1053,567,608,1086" shape="rect">
    <area target="" alt="bath 2" title="bath 2" href="" coords="562,331,96,1077" shape="rect">
</map>
    </div>
</body>
</html> -->