.type-main{
    display: flex;
    justify-content: flex-end;

}
.info-tec{
    width: 33%;
    width: 33%;
    margin: 3vw 0vw;
    display: flex;
    flex-direction: column;

}
.ty-bac{
    width: 60%;
}

.tre{
font-size: 2vw;
margin-bottom: 2vw;
}
th, td {
    border-bottom: 1px solid #ddd;
  }
.gra{
    width: 80%;
    margin:7vw auto;
    
}
  .gra-floor {
    width: 100%;
    background-image: url(/Component/Image/melia/inter.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    border-radius: 40px;
}

@media screen and(max-width:600px) {
    .type-main {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    .info-tec {
        width: 33%;
        width: 80%;
        margin: 3vw auto;
        display: flex;
        flex-direction: column;
    }
    .ty-bac {
    width: 100%;
}
.tre {
    font-size: 4vw;
    margin-bottom: 4vw;
}
}
@media screen and(max-width:400px) {
    .type-main {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    .info-tec {
        width: 33%;
        width: 80%;
        margin: 3vw auto;
        display: flex;
        flex-direction: column;
    }
    .ty-bac {
    width: 100%;
}
.tre {
    font-size: 6vw;
    margin-bottom: 4vw;
}
}
