body {
  margin: 0;
  box-sizing: border-box;
}
.nav {
  height: 80px;
  background: rgba(255, 255, 255, 0.41);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  position: absolute;
  z-index: 1000;
  display: flex;
  width: 100%;
}
.logo {
  width: 18%;
}
.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width:100%;
  padding: 0 2em;
}
.uli {
  display: flex;
  gap: 2vw;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style-type: none;

}

.MuiInputLabel-formControl {
  top: 0;
  left: 0;
  position: relative;
  transform: none !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
//   background-color: #1976d200 !important;
//   border: 1px solid !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 1vw!important;
color: #000000 !important;
border-color: #000000 !important;
white-space: nowrap !important;
line-height: 2vw!important;
font-family: poppins!important;
}
// NavLink {
//   text-decoration: none;
// }

.re {
  font-style: normal;
  font-weight: 700;

  font-size: 1vw;
  line-height: 2vw;

  display: flex;
    align-items: center;
    gap: 0.3vw;

  color: #000000;
  white-space: nowrap;
  text-decoration: none;
}
#toggler , .nav label{
  display: none;
}
@media screen and (max-width:600px){
.menu {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  position: relative;
  // top: 95px;
  top: 109px;
  right: 43px;
} 
.list {
  flex-direction: column;
  align-items: center;
  padding: 13px 16px;
  background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 8px rgb(0 0 0 / 4%);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);

}
.nav label{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 32px;
}
#toggler:checked ~ .menu{
  max-height: 100%;
}
}