.content-pop{
  padding: 0;
}
.popp{
  width: 70%;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 70%!important;
}
#alert-dialog-description .w-57 {
  width: 100%;
  margin-bottom: 0!important;
}


.MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
  padding: 0!important;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiDialog-paperFullWidth.css-tlc64q-MuiPaper-root-MuiDialog-paper {
  background: #f8f9fa!important;
  border-radius: 2vw!important;
  max-height: fit-content!important;
}
h2#alert-dialog-title {
  text-align: center;
  font-size: 26px;
  padding-top: 30px;
  padding-bottom: 0px;
  color: #1b2726;
  font-weight: 700;
  text-transform: uppercase;
}
.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container {
  height: 100vh;
  overflow-y: scroll;
  padding-top: 17vw;
}