.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-sghohy-MuiButtonBase-root-MuiButton-root.active {
    background: linear-gradient(88.21deg, #375958 -25.83%, #172120 96.08%)!important;
    border-radius: 1vw;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 1.1vw;
    line-height: 2vw;
    padding: 1vw 2vw;
    margin-right: 15px;
    white-space: nowrap;
  }
  @media screen and (max-width: 500px) {

    .MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-sghohy-MuiButtonBase-root-MuiButton-root {
      background: linear-gradient(88.21deg, #375958 -25.83%, #172120 96.08%)!important;
      border-radius: 1vw;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 2.1vw;
      line-height: 4vw;
      padding: 1vw 2vw;
      margin-right: 15px;
      white-space: nowrap;
  }
}